/* 배경이미지 가져온 곳
https://www.toptal.com/designers/subtlepatterns/page/3/
 */

/* body에 class를 추가시킴
왜? body는 기본적으로 padding을 가지고있어서
이게 background 적용할 때 문제가 되기 때문
그래서 새로 class 정해주고 padding:0맞춤 */
.chats-body {
  padding: 0;
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}

/* ming-height???  */
.chat-screen {
  background-image: url("../images/chatBg.png");
  min-height: 100vh;
}

.chat__write {
  position: fixed;
  bottom: 50px;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfc;
  padding: 0 20px;
  border-radius: 40px;
  box-shadow: 0px 30px 60px -12px rgba(50, 50, 93, 0.2),
    0 18px 36px -18px rgba(0, 0, 0, 0.3);
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
  padding: 20px 10px;
}

.chat__write-column input {
  padding: 20px 10px;
  width: 100%;
  border: none;
  font-size: 14px;
}

.chat__write-column input:focus {
  outline: 10px;
}

.chat-screen .chat__messages {
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  /* nico 사이트에서 가져온 box-shadow 어디에써도 좋음 */
  box-shadow: rgba(0, 0, 0, 0.9) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  text-transform: uppercase;
  font-weight: 700;
}

.message {
  display: flex;
  align-items: center;
  width: 50%;
}
.message .message__content {
  width: 80%;
}

.incoming-messages {
  align-self: flex-start;
}

.incoming-messages img {
  width: 30px;
  border-radius: 15px;
  margin-right: 20px;
}

.sent-message {
  align-self: flex-end;
}

.message .message__bubble {
  box-shadow: rgba(0, 0, 0, 0.9) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  padding: 10px 20px;
  border-radius: 20px;
}
