.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avatar {
  width: 50px;
  border-radius: 38%;
}

.friend__avatar.g-avatar {
  width: 70px;
}

.friend__avatar.m-avatar {
  width: 60px;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__avatar {
  margin-right: 15px;
}

/* 이름, 상메를 위 아래로 놓는 부분 */
.friend__content .friend__name {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp {
  opacity: 0.6;
}

.friend__content .friend__bottom-text {
  font-size: 14px;
}

.friend .chat__timestamp,
.friend__content .friend__status {
  font-size: 12px;
}

.friend .friend__now-listening {
  padding: 5px 10px;
  border-radius: 15px;
  border: 2px solid #52e084;
  font-size: 14px;
}

/* 위의 둥근네모박스에서 opacity를 적용하면 
border도 옅어지므로 우리가 원하는 효과가 아님
텍스트만 따로 골라서 opacity적용함 */
.friend__now-listening span {
  opacity: 0.6;
}

.friend__now-listening i {
  font-size: 12px;
}

.friend__add-btn {
  display: flex;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
}
