.status-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #666666;
  /* header를 위에 고정시킬 때 사용
  이렇게 만들고 나머지를 또 공간 줘야함
  아니면 겹쳐지게되서 */
  /* position: fixed;
  width: 100%;
  top: 0px; */
}

.status-bar i {
  font-size: 14px;
}

.status-bar .status-bar__battery-level {
  margin-left: 4px;
}
