@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

.phone {
  margin-top: 50px;
  margin-left: 20px;
  background-color: #10151a;

  width: 350px;
  height: 700px;
  /* border-radius: 40px; */
  box-shadow: inset -6px -6px 15px rgba(145, 160, 180, 0.45),
    30px 30px 40px rgba(118, 146, 180, 0.18);
  overflow: hidden;
  padding: 20px;
}

.screen {
  width: 100%;
  height: 100%;
  background: rgb(241, 242, 246);
  /* border-radius: 25px; */
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.screen:after {
  position: absolute;
  background-image: url("../background3.jpg");
  background-repeat: no-repeat;
  /* background-size: 100%; */
  background-position: center;
  top: 0;
  left: 0;
  position: absolute;

  opacity: 0.5 !important;
  filter: alpha(opacity=50);
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px 14px 0px 25px;
  font-size: 14px;
  font-weight: 700;
  color: #242926c2;
}

.header {
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: #242926a2;
  padding: 30px 22px 0px 22px;
  margin-bottom: 110px;
}

.header__title {
  font-size: 16px;
  font-weight: 600;
}

.main .main__profile {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .profile-pic {
  /* background-image: url("../sohye.jpg"); */
  background-repeat: no-repeat;
  z-index: 2;

  width: 68px;
  height: 68px;
  border-radius: 50%;

  margin-bottom: 16px;
}

.main .profile-name {
  font-size: 22px;
  font-weight: 700;
  color: #332f2aa4;
  margin-bottom: 6px;
}

.main .profile-loc {
  font-size: 12px;
  font-weight: 700;
  color: #332f2aa4;
}

.main__action {
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 12px 0px 12px;
}

.main__action .btn {
  background-color: rgba(226, 239, 245, 0.952);
  font-size: 16px;

  width: 135px;
  height: 44px;
  border-radius: 10px;
  margin: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* nico's magic box-shadow */
  box-shadow: rgba(0, 0, 0, 0.9) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  cursor: pointer;
}

.main__action .btn:nth-child(2) {
  background-color: rgba(69, 136, 167, 0.548);
}

.main__action .text {
  margin: 0px;
  color: #332f2aa4;
  font-size: 16px;
  font-weight: 600;
}

.main__action .btn:nth-child(2) .text {
  color: #f7f7f7da;
}

.main__history {
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  margin: 0px;

  padding: 35px 45px 0px 45px;
}

.main__history .column {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;
}

.main__history .text {
  margin: 0;
  padding: 0;

  font-size: 14px;
  font-weight: 600;
  color: #332f2aa4;
}

.nav .nav__list {
  /* background-color: red; */

  margin: 0;
  margin-top: 120px;
  padding: 0px 45px 0px 45px;
  display: flex;
  justify-content: space-between;

  font-size: 22px;
  color: #332f2aa4;
}

.nav__under-bar {
  background-color: black;
  width: 110px;
  height: 4px;

  margin-left: 100px;

  position: absolute;
  bottom: 6px;
}
