html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.blue {
  height: 450px;
  width: 600px;
  background-color: #1e90ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  height: 130px;
  width: 130px;
  background-color: #ff6b81;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.grey {
  height: 35px;
  width: 35px;
  background-color: #d8d8d8;
}

/* 
2번째 grey box을 변화시킬 수 있는 방법 3가지를 찾았습니다
*/

/* 1번 */
.grey[type="target"]:hover {
  height: 35px;
  width: 35px;
  background-color: #ff6b81;
}

/* 2번 */
/* .grey:nth-child(99999n + 2):hover {
    height: 35px;
    width: 35px;
    background-color: #ff6b81;
  } */

/* 3번 */
/* .red > .grey[type="target"]:hover {
    height: 35px;
    width: 35px;
    background-color: #ff6b81;
  } */
