@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.phone {
  margin-top: 50px;
  margin-left: 20px;
  background-color: white;
  width: 300px;
  height: 600px;
  border-radius: 40px;
  box-shadow: inset -6px -6px 15px rgba(145, 160, 180, 0.45),
    30px 30px 40px rgba(118, 146, 180, 0.18);
  overflow: hidden;
  padding: 20px;
}

.screen {
  width: 100%;
  height: 100%;
  background: rgb(241, 242, 246);
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;

  margin: 28px 0px;
  padding: 0px 12px;
  font-size: 16px;
  font-weight: 600;
  color: #121702;
}

.main {
  margin-top: 70px;
  position: absolute;
  width: 100%;
  padding: 0px 12px;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0px 6px; */
  font-size: 14px;
  font-weight: 600;
  color: #121702;
  text-align: center;
  margin-bottom: 4px;
}

.main__header .pop__viewall {
  font-size: 12px;
  color: rgb(245, 26, 73);
}

.pop__content .pop__category-list {
  /* li 점 없애는 좋은 방법 */
  list-style: none;
  padding-left: 0px;

  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.pop__content .pop__category {
  font-size: 12px;
  font-weight: 600;
  color: white;
}

.pop__category {
  width: 115px;
  height: 75px;

  /* 배경 관련 */
  /* background-image: url("../salad.jpg");
  background-size: cover; */

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  margin-bottom: 7px;
}

.pop__content .pop__category:nth-child(1) {
  /* 배경 관련 */
  background-image: url("../salad.jpg");
  background-size: cover;
  filter: brightness(70%);
}

.pop__content .pop__category:nth-child(2) {
  /* 배경 관련 */
  background-image: url("../cake.jpg");
  background-size: cover;
  filter: brightness(70%);
}

.pop__content .pop__category:nth-child(3) {
  /* 배경 관련 */
  background-image: url("../forbabies.jpg");
  background-size: cover;
  filter: brightness(70%);
}

.pop__content .pop__category:nth-child(4) {
  /* 배경 관련 */
  background-image: url("../smoothie.jpg");
  background-size: cover;
  filter: brightness(70%);
}

/* ---------------------- */
.other__content .other__category-list {
  /* li 점 없애는 좋은 방법 */
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

.other__content .other__category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9px;
  background-color: #fcfcfc;
  border-radius: 10px;
  padding: 12px 12px;
  height: 45px;
}

.other__category-box {
  display: flex;
  flex-direction: column;
}

.other__category-name {
  font-size: 10px;
  font-weight: 600;
  color: #121702;
}

.other__category-count {
  font-size: 10px;
  font-weight: 500;
  color: #4d4c4786;
}

.other__category-arrow i {
  color: red;
}
/* ------------------------------------- */

.nav {
  /* position: fixed; */
  /* bottom: 30px; */
  margin-top: 510px;
}

.nav-list {
  /* li 점 없애는 좋은 방법 */
  list-style: none;
  padding-left: 0px;
  margin: 0px;

  background-color: #fafafa;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 20px 12px;
  border-radius: 5px;
}

.nav-list i {
  font-size: 22px;
  color: #121702;
}

.nav-icon:nth-child(2) i {
  color: rgb(228, 55, 55);
}
