<!DOCTYPE html>

<html>
    <head>
       <meta http-equiv="content-type" content="text/html" charset=UTF-8>
        <title>title</title>
    </head>
    <body>
        <p>Detail Student</p>

        {% if student_info %}
            name : {{student_info.s_name}} </br>
            major : {{student_info.s_major}} </br>
            age : {{student_info.s_age}} </br>
            grade : {{student_info.s_grade}} </br>
            gender : {{student_info.s_gender}} </br>

        {% else %}
            <p> Student: 0 </p>
        {% endif %}


        </br>
        <!-- url'students:stuMod'을 가져오라는 의미이고, 뒤에는  student_info.s_name을 인자로 넘겨준다는 의미-->
        <!-- 이렇게 인자로 넘겨주면 urls.py에서 <str:name>을 사용한다-->
        <a href="{% url 'students:stuMod' student_info.s_name %}">수정</a>
        <a href="{% url 'students:stuDel' student_info.s_name %}">삭제</a>
        <a href="{% url 'students:stuAll' %}">학생리스트</a>
        <a href="{% url 'students:reg' %}">신규학생등록</a>


    </body>

</html>
