<!DOCTYPE html>

<html>
    <head>
       <meta http-equiv="content-type" content="text/html"; charset=UTF-8>
        <title>title</title>
    </head>
    <body>
        <p>Modify Student</p>

        {% if student_info %}

            <form action="{% url 'students:modCon' %}" method="post">
                {% csrf_token %}
                name : {{student_info.s_name}}
                <input type="hidden" name="name" value="{{student_info.s_name}}"></br>  <!--    이름은 수정되면 안되므로 type을 hidden으로 바꿈            -->
                major : <input type="text" name="major" value="{{student_info.s_major}}"></br>
                age : <input type="text" name="age" value="{{student_info.s_age}}"></br>
                grade : <input type="text" name="grade" value="{{student_info.s_grade}}"></br>
                gender : <input type="text" name="gender" value="{{student_info.s_gender}}"></br>
                <input type="submit" name="Register"></br>
            </form>


        {% else %}
            <p> student : 0</p>
        {% endif%}


    </body>
</html>
