<!DOCTYPE html>

<html>
    <head>
       <meta http-equiv="content-type" content="text/html" charset=UTF-8>
        <title>title</title>
    </head>
    <body>
        <p>Read Student</p>

        {% if student_list %}
        <ol>
            {% for s in student_list %}
            <li>
                <a href="{% url 'students:stuDet' s.s_name %}  ">{{s.s_name}}</a>
                <a href="{% url 'students:stuMod' s.s_name %}">수정</a>
                <a href="{% url 'students:stuDel' s.s_name %}">삭제</a>
            </li>
            {% endfor%}
        </ol>
        {% else %}
            <p> Student : 0</p>
        {% endif %}

        </br>

        <a href="{% url 'students:reg' %}">신규학생등록</a>

    </body>

</html>
